.contact-title{
    width: 25%;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 5px solid black;
}

.contact-title span{
    font-size: 30px;
}

.contact-form{
    text-align: left;
}

.contact-form input{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
}

.contact-button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(118, 118, 118);
    cursor: pointer;
    transition: .3s;
}

.contact-button:hover{
    background-color: rgb(160, 154, 154);
}